.catalog__wrapper {
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 71px;
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $secondary-color;

  @media (max-width: 767px) {
    padding-top: 27px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    gap: 63px 80px;
  }
}

.catalog__item {
  padding-top: 20px;
  padding-bottom: 24px;

  @media (max-width: 767px) {
    margin-right: -20px;
    margin-left: -20px;
    border-top: 1px solid #ebebeb;
  }

  @media (min-width: $tablet-width) {
    padding: 0 37px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 38px 40px;
  }
}

.catalog__item--bg {
  @media (min-width: $tablet-width) {
    background-image: linear-gradient(#f2f2f2, #f2f2f2);
    background-position: 0 81px;
    background-size: 100% calc(100% - 81px);
    background-repeat: no-repeat;
  }
}

.catalog__item--more {
  padding-top: 25px;

  @media (max-width: 767px) {
    border-bottom: 1px solid #ebebeb;
  }

  @media (min-width: $tablet-width) {
    margin-top: 82px;
    padding: 50px 35px 40px;
    border: solid 2px #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    margin-top: 80px;
  }
}

.catalog__card {
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    margin-right: 20px;
    margin-left: 20px;
  }
}
